.container {
    display: flex;
  }
  
  .sidenav-home {
    height: 100vh;
    width: 270px; /* A fixed width as the default */
    background-color: #4E91F4;
  }
  /* make the center item scrollable somehow like twitter, and the side nav is just sticky */
  
   .center-scroll { 
    flex-direction: column;
    display: flex;
    justify-content: center safe;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: auto;
    width: 80vw;
    height: 100vh;
  }


  #center-items {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    height: 3in;
    border-color: grey;
    border-radius: 20px;
    min-height: 3in;
    margin: 19px;

  } 

  .item-3 { 
    width: 300px;
    border-left: grey;
    border-width: 1px;
    border-style: solid;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
  }

.search-results-container{
  border: green;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
  width: 500px;
  margin-left: 300px;
  
}