.container {
    display: flex;
  }
  
  .item1 {
    height: 100vh;
    width: 240px; /* A fixed width as the default */
    background-color: #4E91F4;
    
  }
  /* make the center item scrollable somehow like twitter, and the side nav is just sticky */
  
  .item-center { 
    /* height: 100vh;
    flex-grow: 1; 
    justify-content: space-between;
    flex-direction: column; */
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: auto;
  }

  .item-center1 {
    flex: 0 22%;
    height: 1000px;
    background-color: pink;
    
  }
  
  .item2 { 
    margin-left: 2%; 
  }

