.container {
    display: flex;
  }
  
  .sidenav {
    height: 100vh;
    width: 250px; /* A fixed width as the default */
    background-color: #4E91F4;
  }
  /* make the center item scrollable somehow like twitter, and the side nav is just sticky */
  

  .item-center { 
    background-color: whitesmoke;
    flex-direction: column;
    display: flex;
    justify-content: center safe;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: auto;
    width: 65vw;
    height: 100vh
  }

  .item-center1 {
    justify-content: space-between;
    background-color: white;
    border-width: 1px;
    border-radius: 3px;
    border-style:solid;
    margin: 20px;
    height: 400vh;
    height: 100%;
    
  }
  
  .item-3 { 
    margin-left: 0%; 
  }

