#login{
    position: sticky;
    background: #4E91F4;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    color: white;
}

#form{
    display: block;
    margin: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.input{
    border-radius: 20px;
    border-width: 1.5px;
    height: 20px;
    width: 170px;
    
}

label{
    color: rgba(0,0,0,0.6);
    font-family: 'Courier New', Courier, monospace;
    
}

button{
    margin-top: 20px;

}